.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0d813;
    height: 80px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  .hamBar {
      height: 80px;
      display: none;
  }

  .dropdownMenu {
    position: absolute;
    right: 0px;
    top: 0px;
    animation: dropdownMenu .5s forwards;
    z-index: -1
  }
  .menu-Closed {
    display: none
  }
  .nav-link {
      width: 100px;
      color: black;
      border-bottom: solid black 2px;
      height: 20px;
      background: #a0d813
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes dropdownMenu {
      from{
        top: 0px
      }
      to {
        top: 119px
      }
  }

  @media screen and (max-width: 990px) {
  .App-title{
    display: none;
  }
  .hamBar{
    display: block;
  }
}
